<link rel="stylesheet" href="../static/css/about.css">

{% extends "base.html" %} {% block content %}

<div class="h-100" >
    <h1>The Team</h1>
    <br>
    <div class="container-name">
        <div>
            <img src="../static/images/yash.jpg" alt="">
            <h4>Yash </h4>
        </div>
        <div>
            <img src="../static/images/ayush.jpg" alt="">
            <h4>Ayush </h4>
        </div>
        <div>
            <img src="../static/images/aviral.jpg" alt="">
            <h4>Aviral </h4>
        </div>
    </div>

    <br>
    <br>
    <button id="contact-us">Contact Us</button>
</div>


{% endblock %}